:root {
    color-scheme: light dark;
    --text-color: #010101;
    --stable-color: #747474;
    --brand-color: #F41D92;
    --light-color: #f2f2f2;
    --bg-color: #FDFDFD;
    --highlight-color: yellow;
    --content-width: 45rem;
    --line-height: 1.8;
    --line-height-tight: 1.3;
    --serif-font: Merriweather, Palatino, Garamond, Bookman, "Avant Garde", serif;
    --sans-serif-font: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --stable-color: #ddd;
        --light-color: #111111;
        --bg-color: #323232;
        --highlight-color: #5b5b28;
    }
    img {
        opacity: 0.9;
    }
}

/* Resets */

* {
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 1em;
    line-height: var(--line-height);
    font-family: var(--sans-serif-font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

a, a:visited {
    color: inherit;
}
a:hover, a:focus {
    color: var(--brand-color);
}

h1 {
    font-size: 2.369rem;
    margin-top: calc(var(--line-height) * 1rem);
    font-weight: 900;
}
h2 {
    font-size: 1.777rem;
    font-weight: bold;
}
h3 {
    font-size: 1.333rem;
    margin-top: calc(var(--line-height) * 1rem);
    font-weight: bold;
}
h4 {
    font-size: 1rem;
    margin-top: calc(var(--line-height) * 1rem);
}
h5 {
    font-size: 1rem;
}

p, ul, ol, table, figure, .admonition {
    margin-bottom: calc(var(--line-height) * 1rem);
}
ul ol, ol ul, ol ol, ul ul {
    /* Remove padding from non top level lists (e.g nested lists). */
    margin-bottom: 0;
}

hr {
    margin: 2em 0;
    border: 0;
}
hr:after {
    content: "...";
    text-align: center;
    display: block;
    letter-spacing: 0.6em;
}
hr + * {
    margin-top: 0;
}

blockquote {
    font-style: italic;
    border-left: 2px solid;
    padding-left: 1em;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
thead th {
    text-align: inherit;
    text-transform: uppercase;
    color: var(--stable-color);
    background-color: var(--light-color);
    font-weight: bold;
    font-size: 0.8rem;
}
td, th {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid var(--light-color);
    overflow: hidden;
}

/* Main */

main {
    padding: 1rem;
}

.post__item:not(:last-child) {
    border-bottom: 1px solid var(--light-color);
}

.article__info {
    list-style: none;
    color: var(--stable-color);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.7em;
    font-family: var(--sans-serif-font);
    margin: 0;
}
.article__info > li {
    display: inline;
}
.article__info > li:not(:last-child):after {
    content: "/";
    margin: 0 0.25em;
}
.article__info a {
    text-decoration: none;
}
.article__header {
    margin-top: calc(var(--line-height) * 1rem);
}
.article__header h1, .article__header h2 {
    margin: 0;
    line-height: var(--line-height-tight);
}

.article__content {
    margin-top: 1em;
}
.article__content ul, .article__content ol {
    margin-left: 1em;
}


/* Code */

.highlight, .codehilite {
    background-color: var(--light-color);
    position: relative;
    margin-bottom: calc(var(--line-height) * 1rem);
}

@supports (width: 100vw) {
    .highlight:before, .codehilite:before {
        content: "";
        width: 100vw;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        z-index: -1;
        background-color: inherit;
    }
}
.highlight pre, .codehilite pre {
    max-width: var(--content-width);
    overflow-x: auto;
    padding: calc(var(--line-height) * 1rem) 0;
}
/* Admonition (classes set by markdown plugin) */

.admonition {
    --admonition-color: var(--stable-color);
    --admonition-title-color: var(--bg-color);
    --admonition-border-color: var(--stable-color);
}
.admonition.warning  {
    --admonition-color: var(--highlight-color);
    --admonition-title-color: var(--text-color);
}
.admonition.tip {
    --admonition-color: var(--brand-color);
    --admonition-border-color: var(--brand-color);
}

.admonition {
    padding: 1em;
    position: relative;
    border: 1px solid var(--admonition-border-color);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.admonition p {
    margin: 0;
}
.admonition .admonition-title {
    margin: 0;

    color: var(--admonition-title-color);
    background-color: var(--admonition-color);

    font-weight: 900;
    font-size: 0.8rem;
    font-family: monospace;
    text-transform: uppercase;

    position: absolute;
    top: 0px;
    transform: translateY(-50%);

    padding: 0 1rem;
}

/* TOC */

.headerlink {
    text-decoration: none;
    padding: 0 0.25em;
    font-size: 0.8rem;
    position: absolute;
    left: -1.5em;
    top: 50%;

    opacity: 0;
    transform: translate(-0.25em, -50%);
    transition: transform 150ms ease, opacity 200ms ease;
}
h1, h2, h3, h4, h5, h6 {
    position: relative;
}
*:hover > .headerlink, .headerlink:focus {
    opacity: 1;
    transform: translate(0, -50%);
}

/* Progress Indicator */

.progress-indicator {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 3px;
    opacity: 0.8;
    background-color: var(--brand-color);
    background: linear-gradient(
        to left,
        var(--brand-color),
        var(--highlight-color)
    );
}

/* Archives */

dl dt {
    font-size: 0.8rem;
    color: var(--stable-color);
    margin-top: 1rem;
}

/* Footnotes */
#references {
    margin-bottom: calc(var(--line-height) * 1rem);
}
.footnote td {
    padding: 0;
}
.footnote {
    width: auto;
    margin-bottom: 0;
}

@media (max-width: 1024px){
    .site_info {
        display: none;
    }
}
.site_info {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.site_info .logo {
  max-width: 50px;
  display: inline-block;
}

.site_info .info {
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
}

.site_info .info h1, .site_info .info h2, .site_info .info p {
  margin: 0;
}

.site_info .info h2 {
  font-size: 15px;
}

.site_info .info p {
  font-size: 10px;
}
