/* line 33, ../_base.scss */
a {
  color: #333332;
  text-decoration: none;
}

/* Literal.Number.Integer.Long */
/* Import the font file with the icons in it */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Apply these base styles to all icons */
/* line 14, ../_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons", "Open Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
/* line 29, ../_icons.scss */
.icon-ghost:before {
  content: "\e000";
}

/* line 32, ../_icons.scss */
.icon-feed:before {
  content: "\e001";
}

/* line 35, ../_icons.scss */
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}

/* line 39, ../_icons.scss */
.icon-google-plus:before {
  content: "\e003";
}

/* line 42, ../_icons.scss */
.icon-facebook:before {
  content: "\e004";
}

/* line 45, ../_icons.scss */
.icon-arrow-left:before {
  content: "\e005";
}

/* line 48, ../_icons.scss */
.icon-stats:before {
  content: "\e006";
}

/* line 51, ../_icons.scss */
.icon-location:before {
  content: "\e007";
  margin-left: -3px;
  /* Tracking fix */
}

/* line 55, ../_icons.scss */
.icon-link:before {
  content: "\e008";
}

/* line 2, ../_global.scss */
main {
  padding-top: 2em;
}

/* line 16, ../_global.scss */
main article #article_title a {
  transition: all 0.1s linear;
  border-bottom: 3px solid transparent;
}
/* line 19, ../_global.scss */
main article #article_title a:hover {
  color: #0e94ec;
  border-bottom: 3px solid #0e94ec;
}


/* line 56, ../_global.scss */
main article #article_text .footnote-reference {
  vertical-align: super;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
}
/* line 62, ../_global.scss */
main article #article_text .footnote {
  font-size: smaller;
}
/* line 64, ../_global.scss */
main article #article_text .footnote .fn-backref {
  margin-right: 5px;
  text-decoration: none;
}

/* line 74, ../_global.scss */
main article #article_meta {
  font-size: 0.625em;
  color: #999999;
}
/* line 79, ../_global.scss */
main footer {
  padding: 40px;
}
/* line 81, ../_global.scss */
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 1.125em;
}
/* line 90, ../_global.scss */
main footer a.button_accent:hover, main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}

@media screen and (min-width: 1024px) {
  /* line 99, ../_global.scss */
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #eeeeee 1px solid;
  }
  /* line 106, ../_global.scss */
  aside h2 {
    margin: 10px 0 0 0;
  }
  /* line 109, ../_global.scss */
  aside div#user_meta {
    max-width: 192px;
    text-align: right;
  }
  /* line 112, ../_global.scss */
  aside div#user_meta ul li {
    display: block;
  }

  /* line 117, ../_global.scss */
  main {
    max-width: 700px;
    margin: 0 auto;
  }
  /* line 120, ../_global.scss */
  main article {
    margin: 0 auto;
    max-width: 700px;
  }

  /* line 125, ../_global.scss */
  .travel main {
    max-width: 100%;
  }
  /* line 127, ../_global.scss */
  .travel main article {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
  /* line 133, ../_global.scss */
  .travel main .full img {
    width: 100%;
  }
  /* line 136, ../_global.scss */
  .travel main .blogPosting-meta, .travel main .blogPosting-comment {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 2, ../_article.scss */
.blogPosting-title h1 {
  margin: 0 0 0 0 !important;
}
/* line 5, ../_article.scss */
.blogPosting-title time {
  font-size: 0.5rem;
}

/* line 10, ../_article.scss */
.blogPosting-text h1, .blogPosting-text h2 {
  text-align: center;
}

/* line 14, ../_article.scss */
.blogPosting-featured_image {
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: top center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 23, ../_article.scss */
.blogPosting-featured_image .featured_image--info_box {
  color: white;
  text-shadow: 0px 1px 1px #222;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
}
/* line 29, ../_article.scss */
.blogPosting-featured_image .featured_image--info_box h1 {
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1.5;
}
/* line 34, ../_article.scss */
.blogPosting-featured_image .featured_image--info_box .summary {
  font-size: 45px;
  font-size: 2.5vw;
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: italic;
}
/* line 41, ../_article.scss */
.blogPosting-featured_image .featured_image--info_box a {
  color: white;
  border-bottom: 1px solid white;
  font-family: "adobe-garamond-pro", serif;
  letter-spacing: 2px;
  font-size: normal;
  text-transform: uppercase;
}
/* line 49, ../_article.scss */
.blogPosting-featured_image .featured_image--info_box time {
  font-size: 15px;
  font-family: "adobe-garamond-pro", serif;
  letter-spacing: 2px;
  font-size: normal;
  text-transform: uppercase;
}

/* line 59, ../_article.scss */
.travel .featured_image--info_box {
  width: 1600px;
  margin-left: -800px;
}

/* line 65, ../_article.scss */
.travel h1, .travel h2, .travel h3, .travel h4, .travel #article_text > p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}
/* line 71, ../_article.scss */
.travel h2 {
  line-height: normal;
  font-size: 39px;
  -webkit-animation: fadeIn;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@media screen and (max-width: 600px) {
  /* line 90, ../_article.scss */
  main article {
    padding: 10px;
  }

  /* line 94, ../_article.scss */
  .blogPosting-featured_image .featured_image--info_box {
    margin-top: -100px;
  }
  /* line 96, ../_article.scss */
  .blogPosting-featured_image .featured_image--info_box h1 {
    font-size: 20px;
    font-size: 8vw;
  }
  /* line 100, ../_article.scss */
  .blogPosting-featured_image .featured_image--info_box .summary {
    font-size: 12px;
    font-size: 5vw;
  }
  /* line 104, ../_article.scss */
  .blogPosting-featured_image .featured_image--info_box p {
    font-size: 12px;
    font-size: 4vw;
  }
  /* line 108, ../_article.scss */
  .blogPosting-featured_image .featured_image--info_box time {
    font-size: 12px;
    font-size: 4vw;
  }
}
/* line 3, ../_blog_list.scss */
.blog-list .article_title h2 {
  margin: 0 0 0.4em 0;
}
/* line 8, ../_blog_list.scss */
.blog-list .article_summary .read-more {
  text-decoration: none !important;
}

/* line 1, ../_ui.scss */
.fluid-width-video-wrapper {
  margin-bottom: 1.5em;
}

/* line 5, ../_ui.scss */
.header-link {
  position: absolute;
  left: -1.3em;
  opacity: 0;
  color: #4d4d4d;
  text-decoration: none !important;
  font-size: 0.85em;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
}

/* line 18, ../_ui.scss */
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/* line 27, ../_ui.scss */
.subscribe {
  position: absolute;
  padding: 35px 40px;
  margin: 0 0 30px 0;
  right: 0;
  top: 0;
}
/* line 33, ../_ui.scss */
.subscribe a {
  display: inline-block;
  height: 34px;
  padding: 0 20px;
  border: transparent 1px solid;
  color: #9EABB3;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  border-radius: 3px;
  transition: all ease 0.3s;
}
/* line 45, ../_ui.scss */
.subscribe a:hover {
  border-color: #bfc8cd;
  color: #9EABB3;
}
/* line 50, ../_ui.scss */
.subscribe .subscribe-button {
  float: right;
}
/* line 53, ../_ui.scss */
.subscribe .subscribe-button:before {
  font-size: 9px;
  margin-right: 6px;
}

/* line 1, ../_footer.scss */
footer {
  clear: both;
}
/* line 4, ../_footer.scss */
footer .links ul {
  list-style: none;
  padding: 0;
}
/* line 7, ../_footer.scss */
footer .links ul li {
  display: inline-block;
}
/* line 12, ../_footer.scss */
footer #ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0px 40px 10px 40px;
  color: #999999;
  font-size: 0.675em;
  clear: both;
}
/* line 18, ../_footer.scss */
footer #ending_message img {
  vertical-align: top;
}
/* line 21, ../_footer.scss */
footer #ending_message .copyright {
  display: block;
  width: 45%;
  float: left;
  margin: 10px 0;
}
/* line 27, ../_footer.scss */
footer #ending_message .builtby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
  margin: 10px 0;
}

/* line 1, ../_site_info.scss */
.site_info {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
}
/* line 6, ../_site_info.scss */
.site_info .logo {
  max-width: 50px;
  display: inline-block;
}
/* line 10, ../_site_info.scss */
.site_info .info {
  opacity: 0;
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
}
/* line 15, ../_site_info.scss */
.site_info .info h1, .site_info .info h2, .site_info .info p {
  margin: 0;
}
/* line 18, ../_site_info.scss */
.site_info .info h2 {
  font-size: 15px;
}
/* line 21, ../_site_info.scss */
.site_info .info p {
  font-size: 10px;
}
/* line 25, ../_site_info.scss */
.site_info:hover .info {
  opacity: 1;
}

@media print {
  /* line 2, ../_print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 30, ../_print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 35, ../_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 46, ../_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 50, ../_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 55, ../_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 59, ../_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 66, ../_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 71, ../_print.scss */
  .subscribe-button, footer {
    display: none;
  }
}
